@import url('https://fonts.googleapis.com/css?family=Cute+Font');

h1 {
    font-family: 'Cute Font', cursive;
    font-size: 3vw;
}

#about {
    border: 3px solid yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    margin-bottom: 1.5%;
}

#description-container {
    display: flex;
    flex-direction: row;
}

#pic {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    /* border: 3px solid red; */
}

#pic > img {
    border-radius: 50%;
    height: 100%;
    width: 50%;
} 

#border {
    width: 5%;
    border-left: 4px solid #10828C;
}

#description {
    width: 60%;
    display: flex;
    flex-direction: column;
    border: 3px solid green;
}

#description > :first-child {
    font-size: 
}

#description > :last-child {
    line-height: 2;
    color: #888;
}
