#footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 3px solid purple; */
    margin-bottom: 3%;
}

#footer-links {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.fab, .fa-file-invoice {
    background-color: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}

.fab, .fas {
    font-size: 3vw;
}

.fa-heart {
    color: red;
    font-size: 1vw;
}

#footer-container > :last-child {
    font-size: 1.5vw;
}