#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8% 0% 20% 0%;
    border-bottom: 1px solid lightgrey;
}

#portfolio {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.view .mask {
    width: 100% !important;
    height: 85% !important;
}

.img-fluid {
    width: 35vw;
    height: 85%;
    margin-bottom: 10%;
}

.text {
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}