@import url('https://fonts.googleapis.com/css?family=Satisfy');

#technologies {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15% 0% 20% 0%;
    border-bottom: 1px solid lightgrey;
}

#tech-skillset {
    width: 60%;
}

.table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 50px 0;
}

.table > thead > tr > th {
    border: 0 !important;
    font-family: 'Satisfy', cursive;
    font-size: 2.3vw;
    text-align: center;
}

hr {
    border: 1px solid black;
    margin: 0px;
}

.table > tbody > tr > td {
    border: 0 !important;
    font-size: 1.2vw;
    padding: 1.2% 0;
}
