body {
    padding-top: 3.6%;
}

.intro {
    background-image: url('/assets/images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.content-container {
    height: 100%;
}