.navbar {
    margin-bottom: 0px;
}

.container {
    /* border: 3px solid red; */
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}