body {
    padding-top: 3.6%;
}

.intro {
    border: 3px solid yellow;
    background-image: url('./images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.content-container {
    /* border: 3px solid red; */
    height: 100%;
}